<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>
    <%= itemName %>
  </title>
</head>

<body>
  <header>
    <a href="/">
      <h1>Odin Foods</h1>
    </a>
  </header>
  <main>
    <%- include("partials/errors.ejs") %>

      <ul>
        <% if (locals.item) {%>

          <li>
            Item ID: <%= item.id %>
              <br>
              Name: <%= item.name %>
                <br>
                Description: <%= item.description %>
                  <br>
                  Price: $<%= item.price %>
          </li>

          <% } %>
      </ul>
  </main>
  <footer>
    <h3>Copyright 2024 DDJCS50</h3>
  </footer>
</body>

</html>