<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Update Item</title>
</head>

<body>
  <div class="itemUpdateTitle">

    <h1>
      Update Item
    </h1>
  </div>
  <%- include("partials/errors.ejs") %>
    <div class="itemUpdate">

      <form action="/updateItem/<%= item.id %>" method="POST" id="updateItemForm">
        <div>
          <label for="itemName">Item Name: </label>
          <input type="text" name="itemName" id="itemName" value="<%= item.name %>">
        </div>
        <div>
          <label for="categoryName">Category: </label>
          <input type="text" name="categoryName" id="categoryName" value="<%= categoryName %>">
        </div>
        <div class="itemDescriptionBox">
          <label for="itemDescription">Description: </label>
          <textarea form="updateItemForm" name="itemDescription" id="itemDescription" cols="25"
            rows="10"><%= item.description %></textarea>
        </div>
        <div>
          <label for="itemPrice">Price: </label>
          <input type="number" step="any" name="itemPrice" id="itemPrice" value="<%= item.price %>">
        </div>



        <button type="submit">Update</button>
      </form>
      <a href="/">Cancel</a>
    </div>
</body>

</html>